<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos</title>
</head>

<body background="/static/IMG/fundo2.png">
     <div class="menu">
        <table class="menuzinho">
        <tr> 
            <td><img src="/static/IMG/logo.png" aling="left"> </td>
            <td align="rigth">
            <nav>
            
            <a href="/">Home |</a>  
            <a href="/quemsomos"> Quem somos |</a> 
            <a href="/contato"> Contato</a> 
                
            </nav> 
            </td>
        </tr>
        </table>
    </div>

    <div class="texto">
        <h2>Entre em contato</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt illum delectus minima earum neque, quia voluptatum. Sint, perspiciatis veritatis! Inventore sunt velit temporibus. </p>
    </div>   

    <div class="linha">
        <hr width="100%" >
    </div>

    <div class="detalhescontato">
        <form>
            Seu e-mail: <br>
            <input type="text" name="e-mail"> <br>
            Assunto: <br>
            <input type="text" name="Assunto"> <br>
            Descrição: <br>
            <input type="text" name="Descrição" id=""><br>
            <br>
            <input type="button" value="Enviar">
        </form>
    </div>

    <br>
    <div class="direitos"><p class="centro"><b>Todos os direitos reservados</b></p></div>

</body>
</html>