<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body background="IMG/fundo.png"> 

    <div class="menu">
        <table class="menuzinho">
        <tr> 
            <td><img src="/static/IMG/logo.png" aling="left"> </td>
            <td>
            <nav>
        
            <a href="/">Home |</a>  
            <a href="/quemsomos"> Quem somos |</a> 
            <a href="/contato"> Contato</a> 
            
            </nav> 
            </td>
        </tr>
        </table>
    </div>

    <div class="foto1"> 
        <img src="/static/IMG/capa.png">
    </div>

    <div class="texto">
        <h2>Sobre a universidade</h2>
        <p>Lorem <b>ipsum dolor</b>, elit. Ipsam, quam ad dolores perferendis tempora illum. Ullam cumque ipsam illum ad id ratione molestiae distinctio expedita. Neque, esse? sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quidem quasi eligendi modi doloribus totam laboriosam voluptas voluptatibus, omnis animi nostrum ea, est iure rerum excepturi labore cumque nobis exercitationem! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam ipsa sit ea assumenda quibusdam nulla accusamus id, rerum commodi sequi, officia repudiandae necessitatibus eaque vel? Iste quam cum in ipsum. Iure ab aliquam earum doloribus nostrum voluptas, architecto aspernatur quidem quos laborum tempora at officiis ullam, quibusdam ipsam ex pariatur, accusamus natus.</p>
        <p>Lorem <b>ipsum dolor</b> dolor sit amet consectetur adipisicing elit. Sit obcaecati doloribus non asperiores. Libero aspernatur magni facere fugiat nam! Itaque ratione dicta quo fuga nam fugiat voluptatum assumenda recusandae libero? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius explicabo asperiores iste doloremque nisi suscipit quo! Culpa unde autem a rem minus temporibus quia odit ipsam esse, dolorum assumenda aut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur impedit ipsa ducimus iure eum perferendis dolore corporis distinctio. Architecto itaque commodi saepe corporis obcaecati eius laborum eos numquam doloribus velit!</p>
    </div>
    <br>

    <div class="direitos"><p> <b> Todos os direitos reservados</b> </p></div>
</body>
</html>