<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem somos</title>
</head>

<body background="/static/IMG/fundo.png">
    <div class="menu">
        <table class="menuzinho">
        <tr> 
            <td><img src="/static/IMG/logo.png" aling="left"> </td>
            <td>
            <nav>
        
            <a href="/">Home |</a>  
            <a href="/quemsomos"> Quem somos |</a> 
            <a href="/contato"> Contato</a> 
            
            </nav> 
            </td>
        </tr>
        </table>
    </div>

    <div class="texto">
        <h2>Quem somos</h2>
        <p>Lorem <b>ipsum dolor</b>, elit. Ipsam, quam ad dolores perferendis tempora illum. Ullam cumque ipsam illum ad id ratione molestiae distinctio expedita. Neque, esse? sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quidem quasi eligendi modi doloribus totam laboriosam voluptas voluptatibus, omnis animi nostrum ea, est iure rerum excepturi labore cumque nobis exercitationem! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam ipsa sit ea assumenda quibusdam nulla accusamus id, rerum commodi sequi, officia repudiandae necessitatibus eaque vel? Iste quam cum in ipsum. Iure ab aliquam earum doloribus nostrum voluptas, architecto aspernatur quidem quos laborum tempora at officiis ullam, quibusdam ipsam ex pariatur, accusamus natus.</p>
    </div>
    
    <div class="texto">
        <h2>5 motivos para estudar</h2>
        <p><ol>
            <li>Material sempre atualizado</li>
            <li>Tablets em sala de aula</li>
            <li>Professores renomados</li>
            <li>Universidade bem avaliada</li>
            <li>Ótima localização</li>
        </ol></p>
    </div>
    
    <div class="linha">
        <hr width="100%" >
    </div>

    <div class="texto">
        <h2>Objetivos</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis recusandae aliquam ipsum eos, error, earum Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dignissimos a laborum nobis aliquam, vero expedita rerum deleniti sequi vitae in aperiam voluptatem eius aut minus ea placeat. Quia, repellat? quibusdam tempora soluta odit ducimus unde mollitia voluptatem officia. Expedita ab eligendi nobis? Suscipit, perspiciatis!. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat sequi incidunt, exercitationem, assumenda eius iusto facilis provident quaerat commodi nulla mollitia impedit. Quasi, quaerat possimus! Itaque et distinctio illo tempora.</p>
    </div>
<br>
    <div class="direitos"><p><b>Todos os direitos reservados</b></p></div>

</body>
</html>